@import "https://unpkg.com/open-props";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,100;1,200;1,300;1,400;1,500;1,900&family=Roboto:wght@100&display=swap");
/* whole page css*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: Montserrat ;
}
/* header css */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* satart of row 2 */
.row2 {
  background-color: #101010;
}
.hotel-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hotel-info h2 {
  color: #e2c285;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 0.9px;
  font-family: "Playfair Display";
}
.hotel-info p {
  color: #b1aca3;
  font-size: 14px;
  text-align: center;
  line-height: 1.7;
  width: 75%;
}
.hotel-info a {
  color: rgb(226, 194, 133);
  background: transparent;
  padding: 5px 22px;
  border: 0.5px solid rgb(226, 194, 133);
  font-size: 13px;
  font-weight: lighter;
  transition-duration: 0.4s;
}
.hotel-info a:hover {
  background-color: rgb(226, 194, 133);
  color: rgb(37,37,37);
}
.hotel-info-img img {
  width: 450px;
  height: 443px;
}
.hotel-info-img {
  font-size: 0;
}
.hotel-info-top {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.5px solid #cb9734;
}
.hotel-info-top > div , .hotel-info-bouttom >div {
  width: 450px;
}
.hotel-info-bouttom {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #cb9734;
}
.hotel-info-box h2 {
  text-align: center;
  margin-bottom: 30px;
}
.hotel-info-box img {
  position: relative;
  bottom: 20px;
}

.hotel-info-box a {
  margin-top: 30px;
}
.hotel-info-box {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
}
/* end of row 2 */
/* start row 3 */
.row3{
  background-image: url(img/moblie\ background.jpg);
  
}
.row3 .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 90px;
}
.award-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.award-box h4{
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  margin-top: 15px;
}
.award-box img{
  position:absolute;
  top:-15%;
}
.award-box h5{
  color: #e2c285;
  font: 26px "Playfair Display";
  margin-top: 30px;

}
.award-box p{
  color: #e2c285;
  margin-top: 15px;
}
/* end of row 2 */
/* start row7 */
.row7{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 36px;
  overflow: hidden;
}
.row7 p {
  font-family: "Playfair Display";
}
.row7 .property{
  display: inline-flex;
  align-items: center;
}
.property-box1{
  background-image: url(img/40-1.jpg);
  background-repeat: no-repeat;
  width:450px;
  height: 450px;
  background-size: cover;
  text-align: center;
  padding-top: 150px;
}
.property-box2{
  background-image: url('img/19.jpg');
  width: 450px;
  height: 450px;
  background-size: cover;
  text-align: center;
  padding-top: 150px;
}
.property-box3{
  background-image: url(img/20.jpg);
  width: 450px;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 150px;
}
/* end of row7 */
/* start of row8 */
.row8 {
  background-color: #313131;
  height: 1000px;
  display: flex;
  align-items: center;
  background-image: url(img/moblie\ background.jpg);
}
.row8 .container {
  display: inline-flex;
}
.row8-left {
  font-size: 0%;
  margin-top: 110px;
}
.row8-left img {
  width: 600px;
}
.row8-right p {
  color: #cdc7bd;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.online-booking-headline h3 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  font-family: "Playfair Display";
}
.online-booking-headline h2 {
  color: #e2c285;
  font-size: 80px;
  text-align: center;
  line-height: 90px;
  font-family: "Playfair Display";
}
.online-booking-headline img:last-of-type {
  position: relative;
  width: 110px;
  left: 115px;
  top: 15px;
}
.online-booking-download {
  margin-top: 50px;
}
.online-booking-download a {
  border: .5px solid rgb(226, 194, 133);
  color: rgb(226, 194, 133);
  background-color: transparent;
  padding: 10px 30px;
  transition-duration: .3s;
  font-size: 20px;
}
.row8-right {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.online-booking-text{
  margin-top: 70px;
}
.online-booking-download a:hover{
  background-color: rgb(226, 194, 133);
  color: rgb(37,37,37);
}
/* end of row 8 */
/* start of row 9 */
.row9{
background-image: url(img/client\ background.jpg);
display: flex;
justify-content: center;
align-items: center;
}
.guest-headline h4{
  color: #cb9734;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  font-family: "Playfair Display";
}
.guest-headline h5{
  font-weight: 400;
  font-size: 19px;
  color: #1e1e1e;
  font-family: 'Playfair Display', serif;
  text-align: center;
}
.guest-headline{
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  padding-top: 90px;
}
 .row9 .container{
  display: inline-flex;
  flex-direction: column;
  align-items: center; 
}
.guests-information{
  display: inline-flex;
  justify-content: space-between;
  width: 80vw;
}
.geust-box{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5% auto;
}
.geust-box img{
  width: 130px;
  border-radius: 50%;
}
.geust-box p{
  color: #727272;
  font-size: 13px;
  font-weight: 600;
  margin-top: 40px;
  text-align: center;
  line-height: 1.5;
  width: 95%;
}
.geust-box h5{
  color: #ce9d40;
  font-size: 18px;
  font-weight: 100;
  margin-top: 45px;
}
.geust-box h6{
  color: #938e86;
  font-size: 14px;
  font-weight: 100;
  margin-top: 13px;
}
.geust-box span{
  font-size: 130px;
color: #e2c285;
    text-align: center;
    font-family: Montserrat;
    font-weight:900;
    font-style: normal;
    margin-top: -50px;
}
/* fatemeh code */
/* header css style start */
header {
  background-image: url(img/1-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header .top-header { /*  Top header css style */
  background-color: #0000008a;

  font-size: 11px;
  border-bottom: 1px solid #e2c18550;
}
header .top-header a {
  padding: 5px 10px;
}
header .top-header i {
  color: #b3b3b3;
}
header .top-header .social-links{
  margin: 0 10px;
}
header .top-header .social-links a{
  padding: 5px 10px;
  font-size: 16px;
}
header .top-header a:hover {
  color: #fff;
}
header .top-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
}
header .phonenumber-social-link {
  display: inline-flex;
  align-items: center;
  font-size: 13px;
}
header .social-links {
  padding: 10px;
  display: inline-flex;
  border-left: 1px solid #e2c18550;
  border-right: 1px solid #e2c18550;
}
header .social-links a {
  padding: 5px;
}
header .bottom-header { /* bottom  header css style  */
  background: transparent;
}
header .bottom-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .bottom-header a {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
header .bottom-header a:hover {
  color: #cb9734;
}
header nav ul li {
  display: inline-flex;
  position: relative;
  margin: 20px auto;
}
/* header sub menu */
header nav ul li ul {
  display: flex;
  flex-direction: column;
  background-color: #282828;
  position: absolute;
  left: 0;
  top: 130%;
  visibility: hidden;
  opacity: 0;
  transition-delay: 0.15s;
  transition-property: all ;
  transition-duration: 0.3s;
  transition-timing-function:ease-out ;
}
header nav ul li ul li {
  width: 200px;
  padding: 5px 10px;
  border: 1px solid #cb963427;
  font-size: 12px;
  margin: 0;
}
header nav li ul a {
  min-width: max-content;
}
header nav ul li:hover ul  {
  visibility: visible;
  opacity: 1;
}
header nav ul li ul li:hover{
  background-color: #161616;
}
header .row1 .container {  /* row1 css style start */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}  
header .hotel-name  {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}
header .hotel-name h1 {
  font:  bold 110px "Playfair Display", serif;
}
header .hotel-name h2 {
  font: 60px "Playfair Display", serif;
}
header .hotel-booking{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5%;
  margin-bottom: 15%;
}
header .booking-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e2c18550;
  background-color: #0000008a;
  width: 250px;
  height: 100px;
  padding: 20px;
}
header .booking-info input{
  background: transparent;
  outline: none;
  border: none;
  color: #E2C285;
  font: 30px "Playfair Display", serif;
}
header  #reservation a{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: max-content;
  width: 250px;
  height: 100px;
  color: #000;
  background-color: #E2C285;
  font-weight: bold;
  font-size: 14px;
}
header  #reservation a:hover{
  color: #E2C285;
  background-color: #000;
}


/* header css style send */

/* hotel about / explanation css style start */
.row4 {
  background-image: url("img/5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.row4 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 0;
  color: #161616;
}
.row4 .about-top-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.row4 .about-praghraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.row4 .about-praghraph p {
  font-size: 14px;
  text-align: center;
  width: 50%;
  margin: 15px 0;
}
.row4 .about-headline {
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.row4 .about-headline img {
  width: 130px;
  margin: 15px;
}
.row4 .about-headline h4 {
  font-size: 26px;
  font-weight: 100;
}
.row4 .about-headline h3 {
  font: 85px "Playfair Display", serif;
  font-weight: 700;
  color: #cb9734;
}
.row4 .hotel-option {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.row4 .hotel-option img {
  width: 30px;
}
.row4 .option-right {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.row4 .option-left {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.row4 .starbox {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.row4 .starbox p {
  font-size: 14px;
  line-height: 38px;
}
/* hotel about / explanation css style end */

/* Special offers css style start */
.row10 {
  background-image: url("img/28.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 5% 0;
}
.row10 * {
  text-align: center;
}
.row10  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #b3b3b3;
}
.row10 h4 {
  font: 50px "Playfair Display", serif;
  color: #e2c285;
}
.row10 h5 {
  color: rgba(255, 255, 255, 0.897);
  font: 19px "Playfair Display", serif;
}
.row10 .offer-box {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
}
.row10 .offer-coulmen {
  position: relative;
}
.row10 .room-pernight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #282828;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
  top: -50px;
  left: 125px;
}
.row10 .room-pernight span:first-of-type {
  color: #e2c285;
  font-size: 18px;
}
.row10 .room-pernight span {
  font-size: 11px;
}
.row10 .room-class {
  background-image: url("img/22.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.row10 .room-class h6 {
  font-size: 30px;
  color: #e2c285;
  font-weight: 100;
  padding: 22% 2%;
}
.row10 .room-option {
  background-color: #282828;
}
.row10 .room-option span {
  display: inline-block;
  font-size: 13px;
  width:350px;
  padding: 35px 0;

}
.row10 .room-option:nth-last-of-type(3),
.row10 .room-option:nth-last-of-type(5) {
  background-color: #161616;
}
.row10 .room-book {
  background-color: #161616;
  width: 350px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row10 .room-book a {
  border: 1px solid #cb9734;
  color: #cb9734;
  padding: 12px 16px;
}
.row10 .room-book a:hover {
  color: #000;
  background-color: #cb9734;
}
/* Special offers css style end */

/* newsletter & useful links css style start */
.row15 {
  background-image: url("img/35.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #b3b3b3;
  font-size: 14px;
  padding-top: 5%;
  padding-bottom: 5%;
}
.row15 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo img {
  width: 200px;
  margin-bottom: 20px;
}
.row15 .cloumn {
  flex: 1;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}
.row15 .cloumn h3 {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
}

.row15 .cloumn .arrow-shape {
  width: 0;
  height: 0;
  border-left: 4px solid #cb9734;
  border-bottom: 4px solid #cb9734;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-left: 8px;
}
.row15 .useful-links a {
  display: inline-block;
  width: 250px;
  padding-bottom: 5px;
  border-bottom: 1px solid #4d4c4c;
}
.row15 .useful-links li::before {
  content: "• ";
  color: #cb9734;
  font-size: 25px;
  border: none;
}
.row15 .useful-links li:last-of-type {
  border: none;
}
.row15 .useful-links a:hover {
  color: #ffdc7d;
}
.row15 .newletter-input {
  display: inline-flex;
  align-items: center;
  margin: 35px;
  margin-left: 0;
  border: 1px solid #4d4c4c;
  background-color: #4d4c4c;
}
.row15 .newletter-input input {
  padding: 10px 0px 10px 5px;
  border: none;
  outline: none;
  width: 83%;
  background-color: #000;
}
.row15 .newletter-input a {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17%;
  height: 100%;
  color: #000;
}
.row15 .newletter-input a:hover {
  color: #fff;
  background-color: #cb9734;
}
.row15 .cloumn span {
  font-size: 12px;
}
.row15 .cloumn span > span {
  color: #ffdc7d;
}
.row15 .cloumn .footer-img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.row15 .cloumn .footer-img img {
  width: 80px;
  height: 80px;
  border: 1px solid #ffffff70;
}
.row15 .cloumn .footer-img a:hover {
  background-color: #cb973475;
  width: 80px;
  height: 80px;
  z-index: 3;
}

/* newsletter & useful links css style end */

/* footer  css style start */
footer {
  color: #b3b3b3;
  background: #000;
  padding: 20px;
  border-top: 1px solid #4d4c4c;
  font-size: 13px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer i {
  color: #b3b3b3;
}
footer .left-colm a {
  color: #cb9734;
}
footer .left-colm a:hover{
  text-decoration: underline;
}
footer .middle-colm ul {
  display: inline-flex;
  align-items: center;
  margin: 20px auto;
}

footer .middle-colm li {
  padding: 0 10px;
  border-left: 1px solid #4d4c4c;
}
footer .middle-colm li:first-of-type {
  border: none;
}
footer .middle-colm a:hover {
  color: #fff;
}
footer .right-colm ul {
  display: inline-flex;
}

footer .right-colm a {
  padding: 5px;
}

footer #fb-icon i:hover {
  color: #3b5998;
}

footer #in-icon i:hover {
  color: #0a66c2;
}

footer #twt-icon i:hover {
  color: #1da1f2;
}

footer #ins-icon i:hover {
  color: #ffdc7d;
}

footer #pin-icon i:hover {
  color: #bd081c;
}

footer #yt-icon i:hover {
  color: #ff0000;
}
/* start of row 13 */
.row13{
  
  background-color: #0000008a;
  padding: 40px;
  z-index: 9;
  position: absolute;
  top: 0;
  width: 100%;
  
  
}
.row13 .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.info-headline{
  color: #e2c285;
  margin-bottom: 40px;
  margin-top: 40px;
  display: inline-flex;
  align-items: center;
  width: 150%;
}
.info-headline img{
  width: 25px;
  
}
.info-headline h4{
  font-size: 25px;
  font-weight: 400;
}
.info-icon{
  background-color: #e2c285;
  padding: 10px 12px;
  border-radius: 50%;
  margin-left: -48px;
  position: relative;
  right: 25px;
}

.info-text{
  line-height: 1.6;
  color: #ffffff;
font-size: 14px;
margin-bottom: 40px;
}
/* end of row 13 */
/* start of row 14 */
.row14{
  width: 100%;
  background-color: grey;
  z-index: 1;
  position: relative;
}
.row14 iframe{
  width: 100%;
}
.map{
  -webkit-filter:grayscale(100%);
  filter: grayscale(100%);
}
/* end of row 14 */
/* start of row 6 */
/* row 6 headline  */
.row6{
  background-image: url(img/moblie\ background.jpg);
}
.fav-room-headline{
  text-align: center;
  padding-top: 150px;
  margin-bottom: 70px;
}
.fav-room-headline h3{
  font-size: 50px;
  color: #e2c285;
  font-weight: 200;
  margin-top: 7px;
  margin-bottom: 20px;
}
.fav-room-headline h5{
  font-size: 18px;
  color: #ffffff;
}
/* slider */
.slider-room{
  display: flex;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  gap: 1rem;
  padding-bottom: 20px;
}
.media-elemant{
  position: relative;
}
.snap-scroll {
  scroll-snap-type: inline mandatory ;
}
.snap-scroll > *{
  scroll-snap-align: start;
}
 .contant{
  position: absolute;
  inset: 0;
  font-size: 17px;
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(230, 229, 229, 0.801);
  flex-direction: column;
}
.media-elemant>img,
.media-elemant> .contant{
  transition: 300ms ease-in-out;
}
.slider-room:hover> img{
transform: scale(1.5);
}
.media-elemant> .contant{
  opacity: 0 ;
}
.media-elemant:hover> .contant{
  opacity: 1 ;
}
.room-item i {
  background-color: black;
  color: #ffffff;
  padding: 10px;
  border-radius: 50%;
  margin: 0px 5px 40px 5px;
  transition-duration: 300ms;
}
.room-item i:hover{
  transform: scale(1.3);
}
.room-name{
  margin-top: 20px;
  font-size: 25px;
  font-weight: 100;
}



.media-elemant img{
  width: 368px;
  aspect-ratio: 16/11;
  object-fit: cover;
}
.show-room-btn{
  text-align: center;
  margin-top: 60px;
  padding-bottom: 60px;
  color: rgb(226, 194, 133);
  background-color: transparent
}
.show-room-btn a{
  border: .5px solid rgb(226, 194, 133);
  padding: 12px 28px;
  transition-duration: .4s
}
.show-room-btn a:hover{
  color: #000;
  background-color:rgb(226, 194, 133);

}
/* start of row 5 */
.row5{
  background: #101010;
  display: flex;
  align-items: center;
}
.row5-left{
  font-size: 0;
}
.row5-left img{
width: 50vw;
}
.row5-right{
  text-align: center;
}
.row5-right h3 , h4 ,i {
  color: #e2c285;
}
.row5-right p{
  color: #b1aca3;
}
.room-option1{
  display: inline-flex;
}
.kind-of-room h3{
 font-size: 36px;
}
.kind-of-room{
  margin-bottom: 40px;
}
.kind-of-room img{
  margin-top: 20px;
}
.room-price{
  margin-bottom: 50px;
  font-size: 25px;
}
.room-explantion{
  margin-bottom: 40px;
  margin-left: 19px;
  width: 90%;
  text-align: center;
} 
.room-icon{
  margin: 35px;
 
}
.room-icon p{
  color: #e2c285;
  margin-top: 7px;
}
.next-room i{
  color: #f0c06950;
  margin: 4px;
  transition-duration: 200ms;
}
.next-room a i:hover{
  color:#e2c285 ;
}
