/* whole page css*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: Montserrat;
}
/* header css */
body {
  /* background-image: url(img/1-1.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: cover;  */
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  /* color: #fff; */
}
.top-header {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* background: rgba(255, 255, 255, 0.1); */
  /* backdrop-filter: blur (10px); */
  /* -webkit-backdrop-filter: blur(10px); */
}
.bouttom-header {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
}
nav ul li {
  /* display: inline-flex; */
  /* } */
}
/* hotel about / explanation css style start */
.row4 {
  background-image: url("img/5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
.row4 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 0;
  color: #4d4c4c;
}
.row4 .about-top-col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.row4 .about-praghraph{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
}
.row4 .about-praghraph p {
  font-size: 15px;
  text-align: center;
  width: 52%;
  margin: 15px 0;
}
.row4 .about-headline{
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start
}
.row4 .about-headline img {
  width: 130px;
  margin: 15px;
}
.row4 .about-headline h4{
  font-size:26px;
  font-weight: 100;
}
.row4 .about-headline h3{
  font:85px 'Times New Roman', serif;
  font-weight: 700;
  color: #cb9734;
}
.row4 .hotel-option {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  width: 450px;
}
.row4 .hotel-option img {
  width:30px;
}
.row4 .option-right {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.row4 .option-left {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.row4 .starbox{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.row4 .starbox p {
  font-size: 14px;
  line-height: 38px;
}
/* hotel about / explanation css style end */

/* newsletter & useful links css style start */
.row15 {
  background-image: url("img/35.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #b3b3b3;
  font-size: 14px;
  padding-top: 5%;
  padding-bottom: 5%;
}
.row15 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo img {
  width: 200px;
  margin-bottom: 20px;
}
.row15 .cloumn {
  flex: 1;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}
.row15 .cloumn h3 {
  display: inline-flex;
  align-items: baseline;
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
}

.row15 .cloumn .arrow-shape {
  width: 0;
  height: 0;
  border-left: 4px solid #cb9734;
  border-bottom: 4px solid #cb9734;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-left: 8px;
}
.row15 .useful-links a {
  display: inline-block;
  width: 250px;
  padding-bottom: 5px;
  border-bottom: 1px solid #4d4c4c;
}
.row15 .useful-links li::before {
  content: "• ";
  color: #cb9734;
  font-size: 25px;
  border: none;
}
.row15 .useful-links li:last-of-type {
  border: none;
}
.row15 .useful-links a:hover {
  color: #ffdc7d;
}
.row15 .newletter-input {
  display: inline-flex;
  align-items: center;
  margin: 35px;
  margin-left: 0;
  border: 1px solid #4d4c4c;
  background-color: #4d4c4c;
}
.row15 .newletter-input input {
  padding: 10px 0px 10px 5px;
  border: none;
  outline: none;
  width: 83%;
  background-color: #000;
}
.row15 .newletter-input a {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17%;
  height: 100%;
  color: #000;
}
.row15 .newletter-input a:hover {
  color: #fff;
  background-color: #cb9734;
}
.row15 .cloumn span {
  font-size: 12px;
}
.row15 .cloumn span > span {
  color: #ffdc7d;
}
.row15 .cloumn .footer-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.row15 .cloumn .footer-img img {
    width: 80px;
    height: 80px;
    border: 1px solid #ffffff70;
}
.row15 .cloumn .footer-img a:hover {
    background-color: #cb973475;
    width: 80px;
    height: 80px;
    z-index: 3;
}

/* newsletter & useful links css style end */

/* footer  css style start */
footer {
  color: #b3b3b3;
  background: #000;
  padding: 20px;
  border-top: 1px solid #4d4c4c;
  font-size: 13px;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .left-colm a {
  color: #cb9734;
}
footer .left-colm a:hover {
  text-decoration: underline;
}
footer .middle-colm ul {
  display: inline-flex;
  align-items: center;
  margin: 20px auto;
}

footer .middle-colm li {
  padding: 0 10px;
  border-left: 1px solid #4d4c4c;
}
footer .middle-colm li:first-of-type {
  border: none;
}
footer .middle-colm a:hover {
  color: #fff;
}
footer .right-colm ul {
  display: inline-flex;
}

footer .right-colm a {
  padding: 5px;
}

footer #fb-icon i:hover {
  color: #3b5998;
}

footer #in-icon i:hover {
  color: #0a66c2;
}

footer #twt-icon i:hover {
  color: #1da1f2;
}

footer #ins-icon i:hover {
  color: #ffdc7d;
}

footer #pin-icon i:hover {
  color: #bd081c;
}

footer #yt-icon i:hover {
  color: #ff0000;
}
